/* main css */
body {
    color: rgb(10, 60, 90);
}

#page-header {
    padding-left: 0.5em;
}

#page-header {
    color: darkmagenta;
}

#page-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: right;
    opacity: 0.5;
}

#content {
    padding-left: 1em;
    padding-right: 1em;
}

#profile-bar {
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    padding: 0.5em;
}

#profile-bar .user {
    margin-right: 0.5em
}

.link-list {
    padding: 0;
}

.link-item {
    display: block;
    margin-top: 1em;
    border-bottom: solid 1px #eee;
    padding: 0.5em 1em 0;
}

.link-item-href {
    /*padding: 0 1em;*/
}

.link-item-keywords {
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    color: gray;
}

.link-list-action {
    margin-left: 1em;
}

.keyword {
    background-color: #fbfbff;
    margin: 2px 0.7em 2px 0;
    padding: 1px;
    border: 2px;
    border-radius: 3px;
}

.keyword:nth-child(1) {
    color: darkgreen;
    background: inherit;
}

.bookmarklet-bar {
    margin-top: 3em;
    font-size: small;
}

.bookmarklet-bar a {
    padding: 0.5em;
    font-size: medium;
}

.link-url-form {
    max-width: 100em;
    width: 100%;
}

.link-url-form form button {
    /*float: right;*/
}

.openid-button {
    display: inline-block;
    margin: 1em;
}

input.wide {
    width: 100%;
}

.confirmation-popup {
    display: block;
    position: relative;
    top: 0;
    left: -2em;
    text-align: center;
}

.confirmation-popup .btn {
    margin: 0.5em;
}

.row-controls > * {
    display: inline-block;
    margin-left: 1em;
}

.listItemTransition-leave {
    opacity: 1;
    transition: opacity .4s ease-in;
}

.listItemTransition-leave.listItemTransition-leave-active {
    opacity: 0.01;
}


/* Callouts are mostly copy-paste from bootstrap docs */

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
